.title {
  color: darkblue;
  margin: auto;
  text-align: center;
}
.description {
  display: block;
}

.button {
  margin-bottom: 80px;
  margin-top: 50px;
}

@media (min-width: 256px) {
  .rowElement {
    margin-right: 40px;
  }
}

@media (min-width: 512px) {
}

@media (min-width: 1024px) {
  .description {
    display: flex;
  }
  .button {
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left: 100px;
    float: right !important;
  }
}
