.container {
  width: 100%;
  margin: auto;
  height: auto;
  text-align: center;
  align-items: center;
}

.button {
  width: 160px;
  height: 50px;
  font-size: 20px;
  margin-bottom: 50px;
  margin-top: 30px;
}

@media (min-width: 256px) {
}

@media (min-width: 512px) {
}

@media (min-width: 1024px) {
  .container {
    margin-top: -40px;
  }
}
