.input {
  margin: 5px;
  display: block;
}
.button {
  margin: auto;
  margin-top: 30px;
  display: block;
  height: auto;
  padding: auto;
}

.container {
  width: auto;
  margin: 30px;
  text-align: center;
  align-items: center;
}

@media (min-width: 256px) {
}

@media (min-width: 512px) {
}

@media (min-width: 1024px) {
  .qr {
    display: inline-block;
    margin-top: 40px;
    width: 500px;
  }
  .container {
    width: auto;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 80px;
    height: auto;
    text-align: center;
  }
  .input {
    display: block;
  }
  .button {
    display: inline-block;
    margin: auto;
    margin-left: 50px;
    margin-top: 20px;
    width: 180px;
    height: auto;
    font-size: 15px;
  }
}
