html {
  font-family: "Courier New", Courier, monospace;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 15px;
}

button {
  font-family: "Courier New", Courier, monospace;
}
